.container{
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.app_title{
    margin: 20px auto;
    font-weight: 100;
    font-family: sans-serif;
}
.student_input_field{
    display: flex;
    margin: 20px;
}

.inner_input{
    padding: 12px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 8px;
}
.Addbutton{
    padding: 0px 25px;
    margin: 5px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 4px;
    color: white;
}

.Deletebutton{
    padding: 10px 25px;
    margin: 0px;
    background-color: red;
    border: none;
    border-radius: 4px;
    color: white;
}
.Editbutton{
    padding: 10px 25px;
    margin: 0px;
    background-color: green;
    border: none;
    border-radius: 4px;
    color: white;
}
.Updatebutton{
    padding: 10px 25px;
    margin: 20px 7px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 4px;
    color: white;
}
.student_list{
    margin: 30px;
    
}
.student_list table{
    width: 700px;
    padding: 10px 30px;
    text-align: left;
}

.student_list table td{
    text-align: left;
    padding: 15px 10px;
    background-color: #150f0f0d;
}